/* Styles généraux */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
  }
  
  body {
    background-color: #e6efff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  /* Conteneur principal */
  .user-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #e6efff;
  }
  
  /* Boîte d'utilisateur */
.user-box {
    background-color: #fff;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
  }
  
  .user-box h2 {
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }
  
  .user-box p {
    font-size: 16px;
    color: #555;
  }
  
  /* Animation de contour */
  .form-border {
    position: relative;
    padding: 2px;
    border-radius: 15px;
    background: linear-gradient(45deg, #00c6ff, #0072ff, #00c6ff, #0072ff);
    background-size: 400% 400%;
    animation: borderMove 6s ease infinite;
    box-shadow: 0 0 15px rgba(0, 114, 255, 0.3);
  }
  
  .form-border .user-box {
    background-color: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
  
  
  @keyframes borderMove {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  